---
layout: page
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

<ul class="posts-list">
  {% assign category = page.category | default: page.title %}
  {% for post in site.projects %}
    <li>
      <h3>
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </h3>
    </li>
  {% endfor %}
</ul>

<div class="entries-{{ page.entries_layout | default: 'grid' }}">
  {% include documents-collection.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order %}
</div>

{% include back-link.html %}